[2017-03-15 09:33] MarlonFan opened #1 "can't find class name"
There is no perception class name, function name and property name.

But thank you very much for this plugin, Looking forward to for a long time.

![image](https://cloud.githubusercontent.com/assets/9349370/23941776/1f87dfbe-09a5-11e7-80b0-be48dc76f25d.png)

[2017-03-15 09:50] neild3r commented on #1
@MarlonFan thanks for your feedback on this. Really appreciate it.

The reason I left it as not inferring class names is simply because I find if it does, people will be less inclined to actually write a meaningful comment block. Then you end up with a class of meaningless DocBlocks. Technically the regex does already know the class name. Perhaps we can support both approaches and provide this as

[2017-03-15 09:55] MarlonFan commented on #1
@neild3r I see, will carry on the plan?

[2017-03-15 09:59] neild3r commented on #1
If I was to implement this as an option you can turn on what format would you like for the class name initial message?

[2017-03-15 10:03] MarlonFan commented on #1
May be like this? Just a suggestion。
![image](https://cloud.githubusercontent.com/assets/9349370/23943198/97b41a62-09a9-11e7-91a8-b02fd45c6ae9.png)

[2017-03-15 10:29] neild3r commented on #1
And would `service\` come from the namespace or would that be a tabstopped placeholder?

Also note I've added `@package` to the completion list in the next release, see #2

[2017-03-15 10:49] MarlonFan commented on #1
Cool, didn't see before.

[2017-03-15 11:14] MarlonFan opened #3 "If the method has no parameters, auto complete failure"
System: MacOS 10.12
VSCode Version: 1.10.2
Repetition:

Press the enter key

![image](https://cloud.githubusercontent.com/assets/9349370/23945968/7fa08f28-09b3-11e7-9cb1-cf9c2bc5348d.png)

[2017-03-15 11:27] neild3r commented on #3
This is a regression and will be fixed very soon.

[2017-03-15 11:31] neild3r opened #5 "Add unit tests to check for errors in function parameter parsing"
Due to a recent regression this should be added #3

[2017-03-15 11:44] neild3r commented on #3
This should now be fixed #4

[2017-03-15 11:44] #3 closed

[2017-03-15 11:51] neild3r opened #6 "Better fallback on enter for when autocomplete fails"

[2017-03-15 11:54] MarlonFan opened #7 "Auto complete chaos"
![image](https://cloud.githubusercontent.com/assets/9349370/23947315/353b0606-09b9-11e7-8cd0-185901f712f7.png)

[2017-03-15 12:07] neild3r commented on #7
You are correct, not sure what has happened here seems the function is over eager at the moment

[2017-03-15 12:31] neild3r commented on #7
Fixed now in 0.3.2 #8

[2017-03-15 12:31] #7 closed

[2017-03-15 12:37] neild3r opened #9 "Multiline variables not matching properly"
[code]

[2017-03-16 03:44] neild3r commented on #5
See #10

[2017-03-16 03:45] neild3r commented on #9
See #10

[2017-03-16 03:45] neild3r commented on #6
See #10

[2017-03-16 19:35] #5 closed

[2017-03-16 19:35] #6 closed

[2017-03-16 19:35] #9 closed

[2017-03-17 02:53] neild3r opened #13 "Support PHP7 type hinting"
http://php.net/manual/en/functions.returning-values.php#functions.returning-values.type-declaration

[2017-03-17 02:54] neild3r opened #14 "Allow method args to have a by reference & symbol"

[2017-03-17 02:59] neild3r opened #15 "Support argument lists"
Support the ...$args style syntax in functions arguments

[2017-03-18 09:37] #14 closed

[2017-03-24 15:25] neild3r opened #16 "Infer boolean return type for functions starting with is or has"

[2017-03-24 15:31] neild3r opened #17 "Should we move to support multiple languages?"
It wouldn't be that hard to support additional languages? Few things worth noting.

- Already a docblockr that works well with js/typescript so should we bother with that?
- What other languages should be included?
- We probably need people to contribute their languages so better code documentation would be required
- Limits how deep we can go improving the PHP support, or does it? Can we move to

[2017-03-28 09:14] adzchappers opened #20 "When active, intellisense variables list doesn't work"
I've noticed that when I have this package active, Intellisense no longer suggest variables from within the page in the list, just defaults to the functions

With PHP DocBlocker on:
![image](https://cloud.githubusercontent.com/assets/611127/24397738/14e4534a-139f-11e7-8cdc-77e1f3c6946e.png)

With PHP DocBlocker off:
![image](https://cloud.githubusercontent.com/assets/611127/24397792/3601b11c-139f-

[2017-03-28 09:35] neild3r commented on #20
Thanks for the update. I will investigate later on tonight, off the top of my head I believe vscode should allow multiple completion suggesters so not sure what the issue might be.

[2017-03-28 09:37] adzchappers commented on #20
After playing a bit more, I've noticed that if I just put in a $ I get some sort of variable list (although this doesn't include all the variables it should)

![image](https://cloud.githubusercontent.com/assets/611127/24398717/688d5250-13a2-11e7-9854-e48695c09b0a.png)

But as soon as I try to complete the suggestions then it breaks.

[2017-03-28 21:18] neild3r commented on #20
@adzchappers would you be able to clarify which plugin you are using for the intellisense and which version of vscode you are on. I had a quick go with the PHP Intellisense plugin and I found it to work with docblockr on and off.

Would you also be able to tell me what settings you are using such as tab completions and quick suggestions etc?

[2017-03-29 08:20] adzchappers commented on #20
Hi @neild3r

Mac - OS X El Capitan - 10.11.6
VS Code - 1.10.2
PHP DocBlocker 0.4.0
using the built in intellisense.

Windows 10 Pro
Version - 1607
OS Build - 14393.953
VS Code - 1.10.2
PHP DocBlocker 0.4.0
using the built in intellisense.

On the above two I've disabled every plugin except DocBlocker, reloaded and I'm still getting the same issue.

First time install of Code onto a machine that's

[2017-03-29 09:38] neild3r commented on #20
Hi @adzchappers,

Thanks for the update. I have been able to replicate now and believe I know what the issue is I just need to work out the best way to solve it without breaking this extensions enter rules. Hopefully have a fix later today.

[2017-03-29 21:14] #20 closed

[2017-03-29 21:40] neild3r commented on #20
Hi @adzchappers,

This should now be fixed in v0.4.1!

[2017-03-30 08:08] adzchappers commented on #20
Thanks @neild3r it does appear to be working on all three of my installations now!

Nice one!

[2017-04-02 01:00] #13 closed

[2017-04-02 11:09] #16 closed

[2017-04-02 21:44] neild3r opened #27 "Add a more complete list of @tags"
Should probably support most of the ones here https://phpdoc.org/docs/latest/guides/docblocks.html#list-of-tags

[2017-04-02 21:49] #15 closed

[2017-04-02 22:25] #27 closed

[2017-04-06 22:15] neild3r opened #29 "Remove language configuration"
Setting the language config is a bit crappy because it doesn't extend it it overwrites it and this means future changes in vscode will get overwritten. There is already a PR for vscode to add the necessary changes, once merged I'll need to remove the language config from this end.

See Microsoft/vscode#17530

[2017-04-13 14:24] unosky opened #30 "HOW TO USE php-docblocker.extra"
I've tried to use

 but It didnt worked

[2017-04-13 15:24] neild3r commented on #30
Would you be able to post a screenshot that shows the problem you are having?

The expected output from that setting for say a class would be.

[code]

What's the output you are wanting?

[2017-04-19 15:05] to2false opened #32 "Issue when using type hints and classes with full namespace references"
I follow the document said, but it doesn't work. It can work above class and over function with a new line.

[2017-04-19 15:09] neild3r commented on #32
I don't understand. Could you submit some screenshots to help me understand what you mean?

[2017-04-20 01:31] to2false commented on #32
![image](https://cloud.githubusercontent.com/assets/21302817/25209180/f76614b0-25ab-11e7-908e-c5bc1b303bf7.png)

![image](https://cloud.githubusercontent.com/assets/21302817/25209188/0646ae5e-25ac-11e7-91fd-d30f0d825257.png)

[2017-04-20 07:16] neild3r commented on #32
Thanks, it could be the \ in the type hint let me try it it out and see if I can replicate

[2017-04-20 07:26] neild3r commented on #32
OK I've replicated the issue, I'll add some test cases now and see if we can get this sorted for you. I've never had the issue because I always use use statements even for root classes

[2017-04-20 08:08] #32 closed

[2017-04-20 08:09] neild3r commented on #32
The fix has now been merged, I was planning on releasing a new version today so this will be included within

[2017-04-20 08:20] to2false commented on #32
Thank you. :smile:

[2017-04-20 08:29] neild3r commented on #32
No problem, the new version has now been released so you should be able to get the update soon. Thanks for raising the issue.

[2017-04-27 01:40] Xety commented on #17
If would be nice if it could work for the Zephir lang. It's very similar to PHP.
https://zephir-lang.com

[2017-04-27 07:08] neild3r commented on #17
I'm familiar with it, I've done some work on Phalcon in the past, good suggestion.

[2017-05-02 17:51] neild3r opened #34 "Add option to use bool instead of boolean"
As bool would be the actual type hint in PHP7 we should allow this to be configured to be the default when inferring from things other than type hints

[2017-05-14 19:11] jens1o opened #35 "Use tabs in param tags"
Hi,

first of all: Thanks, this a very useful tool!

Personally, I have a `tab`(up to 4 spaces) before and after each part in the `param` tag. But this is missing here. Would it be possible to add this?

That's what I am expecting:
![image](https://cloud.githubusercontent.com/assets/11234139/26036980/cf311aca-38e9-11e7-8205-b2a21310d3f1.png)

Regards!

[2017-05-15 07:28] neild3r commented on #35
Hi @jens1o,

You are quite welcome, glad you are finding it useful.

Just to clarify. I'm assuming you want a description placeholder adding to the `@param` tag or at least a config option to turn it on?

[2017-05-15 12:36] jens1o commented on #35
Oh, sorry, this is a very bad typo. I mean tab. So each entity in the `param` tag has a Tab before it, so it is the same in all param tag and it is still clear.

[2017-05-17 16:17] neufena opened #36 "Allow to specify default content for @author"
Allow to add default content so a dev can add their name and email once then it's auto inserted to this extension

[2017-05-17 16:25] neild3r commented on #36
Hi @neufena,

You can just use the extra config option to do this. It's what I do, in my vscode settings I have something like the below.

[code]

[2017-05-17 16:25] neufena opened #37 "Allow to align @param lines"
Also support @param comments.  IE

    /**
    * Undocumented function
    *
    * @param string             $string String Comment
    * @param bool               $bool   Boolean Comment
    * @param int                $int    Integer Comment
    * @param \Name\Spaced\Class $class  Class Comment
    * @return void
    */

[2017-05-17 16:30] neufena commented on #36
Great as a workaround for adding a new docblock however it would be ideal id when typing @auth.... into an existing docblock it would allow you to autocomplete this to your default value.

[2017-05-17 16:34] neild3r commented on #36
You have a point but you could be filling in on behalf of another user, perhaps I could provide a special snippet that is your author but also have the vanilla one for others but this is a separate issue

[2017-05-17 16:39] neild3r commented on #37
This is a planned feature

[2017-05-17 16:40] #30 closed

[2017-05-17 16:40] neild3r commented on #30
Closing until we have more info

[2017-05-17 16:41] neild3r commented on #35
I would suggest this is more parameter alignment which was planned and also requested as part of #37

[2017-05-17 16:45] jens1o commented on #35
okay, as long as I can freely set parts before each entity, I'm fine!

[2017-05-17 16:45] #35 closed

[2017-05-19 15:17] jens1o opened #40 "Nullable return types aren't parsed right"
![image](https://cloud.githubusercontent.com/assets/11234139/26254464/edbdd1ec-3cb6-11e7-87e9-23169b53aa1e.png)
I expect that `@return string|null` will be placed, not `void`, because that's wrong.

[2017-05-19 15:43] jens1o commented on #40
Anyway, why is the default one `void`, and not `mixed`?

[2017-05-19 15:45] neild3r commented on #40
Because if you have it as mixed, people will never actually change it and all of your projects functions return mixed

[2017-05-19 15:53] jens1o commented on #40
okay.

[2017-05-19 16:00] jens1o commented on #40
Okay, that makes sense.

[2017-05-20 04:42] oojacoboo opened #42 "Support single line docs"
Example:

[code]

[2017-05-22 07:56] m-thorsen opened #44 "[Documentation] Add editor.suggestOnTriggerCharacters to requirements?"
Would it be wise to include in the readme that **editor.suggestOnTriggerCharacters** needs to be true for this extension to work?

Without this setting, the doc block will open, but nothing is filled in - nor does it close itself.
It might be obvious, but it had me stumped for a while.

[2017-05-23 13:50] neild3r commented on #44
Perhaps it is worth including something about suggestions. I don't believe that you need **editor.suggestOnTriggerCharacters** for it to work as it would work if you summoned the suggestions manually after typing `/**` in. However you would still need to know that it works off the auto completions and you'd need to summon them or have the auto summoning of them on in some form.

[2017-05-23 13:52] neild3r commented on #42
How would you propose we differentiate the people that want this feature vs the people who don't?

[2017-05-24 02:00] oojacoboo commented on #42
Why would you not want that?  I don't understand why anyone would type that and not way phpdoc intelligence.

[2017-05-24 07:59] neild3r commented on #42
Do you mean you want the tag snippets to work after a `/**`?

[2017-05-24 14:33] oojacoboo commented on #42
yes, that's correct.

[2017-05-25 10:59] jens1o commented on #34
should be fixed with #46

[2017-05-25 11:00] neild3r commented on #34
I've updated the PR so this will be closed automatically once merged.

[2017-05-25 11:04] #40 closed

[2017-05-26 10:04] #34 closed

[2017-05-26 10:26] jens1o commented on #1
This introduces another problem:
![image](https://cloud.githubusercontent.com/assets/11234139/26491100/74b9f070-420e-11e7-830b-c15aad01b9fc.png)
I usually have in the `package`-annotation the full class name, except the last part, because that's reserved for `subpackage`

[2017-05-26 11:19] petruavram commented on #37
@neild3r

Please, please make a configuration for gap/separator between columns. I always use 2 spaces between doc tags and types or ` - ` before description.

Anyways, thank you for this extension, you've enabled me to switch to VS Code! 🎊

[2017-05-26 11:24] jens1o commented on #37
I planned to do a pr where anyone can set what the person wants be before a tag, for example a tab using `\t`. Thoughts?

[2017-05-26 12:39] petruavram commented on #37
@neild3r

Yeah that'd be good I guess for people that use tabs for aligning (because you know tabs save so much storage and bandwidth that we'd be able to feed a 3rd world country /s) and would flow my boat as well. I think.

[2017-05-27 07:16] jens1o opened #51 "Recognize exceptions."
At the moment, the extension does not recognize thrown exceptions...

![image](https://cloud.githubusercontent.com/assets/11234139/26519142/1ab67a3a-42bd-11e7-81be-97cb07b09f7e.png)

[2017-05-27 07:26] jens1o commented on #51
**working on it**

[2017-05-27 09:33] jens1o opened #52 "Support more advanced gap settings"
For example, I use a gap when I'm documenting methods, but I don't use a gap when documenting a variable.

[2017-07-10 03:36] plutokaito opened #54 "how to show the time with php-docblocker.extra"
whenever i create the doc or the function, i wanna to show the time, how can i do?

[2017-07-10 11:58] jens1o commented on #54
That's not implemented yet, but not a bad idea.

@neild3r Thoughts? Are you fine with me creating a pr achieving this functionality?

[2017-07-11 11:24] neild3r commented on #54
@jens1o happy for you to create a PR. However I'd recommend we look at some sort variable replacement system that will give us room to expand. Really we are just filling in some deficiencies in the number built in variables you can get from VS code.

[2017-07-11 14:44] jens1o commented on #54
Okay, will do this as soon as I've got time. :)

[2017-08-16 14:18] beeblebrox3 opened #55 "Support *short* syntax"
Currently the docblock generation only support this format:

[code]

I use a lot like this:

[code]

It's possible to support it?

[2017-08-24 15:34] joelday commented on #17
@neild3r I have a private branch where I was working on a multi-language solution for vscode-docthis. There are some interesting challenges for sure. Been too busy to go forward with it much.

[2017-08-29 10:06] CallMeSirLiu commented on #17
same PR

[2017-08-29 10:11] CallMeSirLiu commented on #54
I can't wait for it

[2017-08-29 10:16] jens1o commented on #54
I'm unsure how I should implement that, that's why I didn't filed a pr, yet. And I forgot to ask @neild3r ... sorry.

[2017-08-31 06:46] PrinsEdje80 opened #57 "Autocomplete for function returning reference does not work properly"
VSC 1.15.1
PHP DocBlocker 1.2.0

Create a PHP function like this in a class:
[code]
or a regulare function like this:
[code]
Start with the shortcut `/**` and only the most basic PHPDoc beginning will be put there
[code]
Whereas I expect to get
[code]
which is what you get if you remove the `&`.

[2017-09-01 06:25] jens1o commented on #57
Seems to be a missing regex match...

[2017-09-01 17:52] PrinsEdje80 commented on #57
Yeah, I would have figured something like that... But I have no clue about writing plugins for Visual Studio Code ;).

[2017-09-15 19:09] stefangabos opened #58 "Indentation"
As in the example below,
[code]
...the space between * and any content (the word "Descriprion" above) is one space. I use one tab there. Is there a possibility to add this as a configuration option?
Thanks!

[2017-09-26 18:45] lmajano commented on #17
I would love to help with ColdFusion/CFML support

[2017-09-27 08:09] #57 closed

[2017-09-27 08:10] neild3r commented on #57
This will be fixed in the next release

[2017-10-04 11:11] romash1408 opened #61 "Make a list of supported tags in README.MD"
As I can see, this extension can only work with @param, @type, @returns, @throws tags, am I right?
If yes it would be helpful for beginners in phpdoc to place list of supported tags into readme file.
I just tried to understand why is my @see tag not working for halfhour, thinking that I just used wrong syntax...

[2017-10-04 11:16] neild3r commented on #61
It should work worth more than those. There is a complete list in the code but it would probably be useful to list them in the readme, usually if you typing the @ and the first letter it should start giving you the completion list.

https://github.com/neild3r/vscode-php-docblocker/blob/master/src/completions.ts#L14-L147

[2017-10-06 10:53] neild3r commented on #29
This is now causing issues with the latest version so needs to be updated now

[2017-10-06 11:37] #29 closed

[2017-10-06 16:16] neild3r opened #64 "Snippet end is before the closing */"
This is because of the new language config changes. It's better to have this issue than it be broken but we could do with correcting

[2017-10-07 21:41] #64 closed

[2017-10-31 16:21] jakebathman opened #68 "[Request] Update existing docblock"
One of my most-used Sublime plugins was [DoxyDoxygen](https://github.com/20Tauri/DoxyDoxygen), and a great feature of that was `alt+Q` to update a method's docblock.

There are a few aspects to this feature:
1. `alt+Q` would add a docblock to a method if one wasn't there before, allowing the user to tab through all of the placeholder fields (see **Figure 1**).
2. If some of the placeholders are fi

[2017-10-31 20:46] jens1o commented on #68
That's awesome!

[2017-11-21 21:53] philipmclifton commented on #55
This is very useful for letting IDEs know more about vars.

In Laravel often you can have:

`
/** @var UserRepository $userRepository */
$userRepository = app(UserRepository::class);
`

[2017-11-24 19:48] arturock commented on #42
+1. Code intellisense extensions use this kind of docs to work. It would be so useful to have some sort of support for documenting vars.

[2017-12-01 21:42] JasonHoffmann opened #69 "[Request] Flag to disable @return void"
Not sure if this would be useful to other folks, but the coding standards I follow does not require `@return void`. Wondering if it would be possible to add a flag to simply output nothing if the return type is void.

[2017-12-03 18:31] neild3r commented on #69
Agreed. The only reason I keep it in is because when you're not using PHP7 return types we can't easily get the return type so often there is one that needs to be filled in manually but I can see an argument for turning this off.

[2017-12-20 20:56] sarcastron opened #71 "useShortNames is not working"
Thank you for a very helpful extension. I am having an issue with the `useShortNames` feature. Despite having the `useShortNames` value set to false, it is still using short names.

My settings have this key/value pair:

[code]

When I create a docblock types like `int` and `bool` continue using the short name:

[code]

I was expecting the result to look like this:

[code]

[2017-12-20 21:54] sarcastron commented on #71
I have a fix for this. I'll submit a PR as soon as I get tests written.

[2017-12-20 21:57] neild3r commented on #71
This is because at the moment we aren't transforming PHP7 type hints and return types back into the long form but arguably we should. I'll create a PR

[2017-12-20 23:50] neild3r commented on #71
@sarcastron, I've made a PR and which is now ready to merge. I will merge and do a release before xmas :)

[2017-12-21 07:18] agung-wete commented on #61
how about add other annotations ? from popular package like symfony, doctrine etc

[2017-12-21 20:43] sarcastron commented on #71
Thank you so much!

[2017-12-22 12:03] #71 closed

[2018-01-12 02:06] yiranzai opened #74 "I want to use datetime in the docblock, what should I do?"
I am a phper from China.
First of all, I am very grateful to the development team for their contributions. I really like this extension.
However, I encountered a problem in the process of using it, and I found that this extension does not seem to support the datetime when the system was called.
Is there any alternative?

[2018-01-23 04:12] ta-riq commented on #17
Can i help to convert my favorite extension  to my native language ?

[2018-01-24 15:46] gdbytes opened #75 "Allow gap after @params/before @return"
Ideally I would like to be able to configure plugin to output like this:

[code]

Please consider, thanks :)

[2018-02-24 10:03] bourdin07 commented on #17
Ungroup parameters tags and return tag

[2018-03-02 16:51] wunc commented on #55
I believe this is a duplicate of #42

[2018-03-02 16:59] beeblebrox3 commented on #55
@wunc you are right! I'm closing this.

[2018-03-02 16:59] #55 closed

[2018-03-02 17:04] wunc commented on #42
@neild3r, The way this works in the popular Sublime docblocker plugin is that if the user hits <kbd>Enter</kbd> after the `/**` they get the long-style doc block, but if they hit <kbd>Spacebar</kbd> or <kbd>Shift</kbd>+<kbd>Enter</kbd> they instead get the inline-style variable doc block.

See https://github.com/spadgos/sublime-jsdocs#variable-documentation

[2018-03-02 18:27] oojacoboo commented on #42
@wunc this is also how it works with IntelliJ.

[2018-03-06 16:47] garygreen commented on #52
Isn't this a duplicate of https://github.com/neild3r/vscode-php-docblocker/issues/42 ?

[2018-03-06 16:58] jens1o commented on #52
Yeah, thank you!

[2018-03-06 16:58] #52 closed

[2018-03-12 10:00] darighteous1 commented on #17
Custom tags and coloring options would be nice

[2018-03-21 18:00] 62006464 commented on #74
你看看这个
https://github.com/neild3r/vscode-php-docblocker/issues/54

[2018-03-21 18:09] neild3r commented on #54
This is probably now possible using the built in date stuff from vscode I will try it and post and example

[2018-03-21 18:17] neild3r commented on #54
Ah this doesn't work right now because the snippet is built programmatically and the varianbles get escaped

[2018-03-21 18:29] neild3r commented on #54
I've created a PR to make it use the built in snippets in the extra setting which will allow you to do this.

[2018-03-22 02:53] yiranzai commented on #74
@neild3r  good job

[2018-03-23 13:55] #54 closed

[2018-03-23 13:55] #74 closed

[2018-03-24 09:37] #36 closed

[2018-03-24 10:06] neild3r opened #79 "Option to resolve full namespaces in types"
When you have param types or return types that have been shortened by a use statement we still get the full class name in the docblock.

Unfortunately this does mean scanning the head of the file but it shouldn't be too difficult or slow.

[2018-03-24 10:08] #75 closed

[2018-03-24 10:24] neild3r commented on #42
Annoyingly because the way this extension triggers the docblock using snippets I can't really do it like this. I think it will probably be easiest to just have a config option to turn it on.

[2018-03-24 10:24] neild3r commented on #42
Also I will try to take a look at implementing this in the next few days or so

[2018-03-24 10:25] #61 closed

[2018-03-24 12:05] neild3r commented on #68
I'm certainly keen on getting some of this in. It's something I've been meaning to do for a while. I think the first one is just to add any missing param and return data and then leave everything else.

[2018-03-26 10:29] imsole opened #86 "可以写一个demo吗？另外，我想配置一下时间，但是没有 time tag"
可以写一个demo吗？另外，我想配置一下时间，但是没有 time tag

[2018-03-26 16:17] #79 closed

[2018-04-12 11:19] imsole commented on #86
建议吧date也添加到插件里面。

[2018-04-27 08:17] Morgy93 commented on #68
You should probably ask for a cooperation:
https://marketplace.visualstudio.com/items?itemName=vincentkos.php-docblock-generator
https://github.com/VincentKos/php-docblock-generator

[2018-05-16 12:07] carestad commented on #44
Well I had issues with it not working suddenly, went here on Github and found this issue and turned that setting back to true. Now it works again.

If it's not dependent on `editor.suggestOnTriggerCharacters` being set to `true`, then how could I get it to auto-fill a phpdoc snippet for me?

[2018-06-09 02:14] areirei opened #87 "Suggestions for default templates"
- PHP version 7.2
- Visual Studio Code Version 1.24.0
- Extension: PHPDocBlocker version 1.6.0
- Extension: phpcs version 1.0.5

When i used `"php-docblocker.extra": ["@category ","@package  ","@author   ","@license ","@link     "],`
It looks like  that
[code]

PHPDocBlocker is great :+1:  But not enough to get through the code Sniffer.

## One suggestion : Class default template
[code]

## One ot

[2018-06-13 10:49] neild3r commented on #87
It should be possible to do something like this as you can put placeholders in the extra config array. The current problem is the extra applies to both classes and functions so maybe the feature that you are looking for here is a class extra config option.

[2018-06-25 05:51] nezaboravi commented on #17
Possibility to keep @return tag as last tag in docblock.

[2018-06-29 10:42] RGuerreroC opened #88 "How can i configure @author tag?"
Hi all,

I wrote in my user config file this
[code]
But when i invoke docbloker tag @author appears alone. I tried
`    "php-docblocker.extra": ["@author ${1: {{name}}} <$2: {{email}}}>","@version 1.0"],`
but at first placeholder appears "Undocumented function" and at second "[type]"

I'm using Marketplace version 1.6.0

I think i'm doing something wrong, can i get some help?

Thanks!

[2018-07-15 02:56] franzarmas opened #89 "Option to define the position of "php-docblocker.extra""
Hello, it would be good if there is an option that defines in which part of the comment will be configured in "php-docblocker.extra".

In my configuration I have this:

[code]
And the output of default is:

[code]

But I would like to get this output, that is to say that what is configured in "php-docblocker.extra" comes on top of @param :
[code]

[2018-07-18 15:55] dominikzogg opened #90 "Possibility to remove the first line `Undocumented function`"
I would like the possibility to remove the first line `Undocumented function` by an option within settings

[2018-07-26 16:04] vyskoczilova commented on #87
+1,

I would love to define the current version which I can update every time I need to increase the version for the project? Like this, I have to think about it. Or is it already possible?

[2018-08-17 08:22] carestad opened #91 "Not documenting in 1.26.1?"
I'm having problems getting docblocks in 1.26.0 of vscode. I have tried disabling all other extensions but it still won't automagically add blocks after I type `/**` above a function in my class.

I am also not quite sure how to debug this. No output in vscode's devtools or the extentions output bar. Any pointers would be appreciated :+1:

[2018-08-20 10:27] carestad commented on #91
Edit title after 1.26.1 release. Still struggling.

[2018-08-20 10:40] neild3r commented on #91
@carestad this could be similar to #44 as it's working fine for me on 1.26 have you got `editor.suggestOnTriggerCharacters` set to `true`?

You can still use it if not but you'd need to summon the suggestions manually after typing `/**` There is a keyboard shortcut to do so which on OSX at least by default is CTRL + Space bar

[2018-08-24 09:37] neild3r commented on #91
Perhaps it's worth adding an optional keybinding so people can just assign a key combo instead

[2018-08-27 07:26] kAlvaro opened #92 "Add description to auto-completion suggestion"
It'd be nice to have a description to identify the item generated by the extension in the auto-completion list. The extension API must surely support because other extensions like [VS DocBlockr](https://github.com/jeremyvii/vs-docblockr) already do it:

PHP DocBlocker:
![PHP DocBlocker](https://i.imgur.com/ySEUGV8.png)

VS DocBlockr:
![VS DocBlockr](https://i.imgur.com/WZipnoX.png)

Snippet:
![Sni

[2018-08-27 07:39] kAlvaro commented on #17
I particularly prefer addons that do one thing and do it well. As of today this is the PHP docblock extension that seems to works best and it still can use improvements in certain areas (such as @throws generation). Just my opinion ;-)

[2018-08-27 15:03] kAlvaro commented on #91
There's currently no registered command to run from command palette, is there? A command itself would be a nice addition, whether it has a default keybinding or not.

[2018-08-30 10:43] carestad commented on #91
Ugh, of course it was related to #44, AGAIN! Don't know how my settings have changed, but as of now I will at least leave comments in there so I know what will happen if I change them.

Having a registered command would be very nice as well, because now I have this plugin _and_ a jsdoc plugin (called "document this"), and both react to the same typing pattern.

[2018-10-19 16:05] maddog986 commented on #88
Same problem here.

[2018-11-05 18:01] neild3r commented on #88
It isn't set up to work with the extra tag system as that is much more simple.

Just hard code in the author for now when you change the author config you can just change in the extra tag as well.

[code]

[2018-11-13 06:55] RGuerreroC commented on #88
Thanks i'll try this!

[2018-11-13 06:55] #88 closed

[2018-12-04 15:58] joseffb-mla commented on #17
Add custom @used-by tag and have the extension scour the code to autofill references. Would also like it to do this for the @uses tag as well.

[2018-12-22 23:53] #91 closed

[2018-12-23 10:33] #69 closed

[2018-12-23 10:35] #92 closed

[2018-12-23 10:36] #86 closed

[2018-12-24 01:28] oojacoboo opened #97 "Customize default template"
This is a great plugin, but I'm running into an issue that I don't seem to be able to resolve.

Firstly, with PHP7 and typing, the need for docblock has decreased drastically for us.  Interpreters can use the actual code to determine typing for params and returns.  This is awesome.  It doesn't mean docblock doesn't have a lot of value still, it does, just less so.

That all said, one of the things

[2018-12-24 10:35] neild3r commented on #97
@oojacoboo you can now disable the @return void by default by setting the config value `returnVoid` to false

[2018-12-24 10:39] neild3r commented on #90
@dominikzogg would you still want a placeholder there for entering text or would it be there is no text at all and no placeholder

[2018-12-24 10:43] neild3r commented on #42
Sorry I never progressed this one. I've had an extremely busy year and not had much time to put into this plugin. I'm going to spend a little time over the Christmas break trying to add some features and will include this as one of them.

[2018-12-24 10:44] dominikzogg commented on #90
@neild3r i would prefer to be able to disable the row, but null as value to disable it or string to replace it's content would perfectly fine too

[2018-12-24 10:48] neild3r commented on #90
@dominikzogg good idea. I'm going to try get in some updates over the Christmas period so I'll try to get this in too

[2018-12-24 10:52] neild3r commented on #97
Also see #87 and #89 which are similar. It's quite a bit of a rework but should be possible to do to support all of these requests

[2018-12-24 10:55] dominikzogg commented on #90
@neild3r thx

[2018-12-25 07:56] oojacoboo commented on #97
@neild3r awesome - looking forward to those updates!  I saw the option to disable `@return` for void.  However, this doesn't really help much for us, maybe only a little.

I think the best solution here is a default template setting that allows you to specify the default template generated.

[2019-01-03 08:53] achertovsky opened #99 "inheritdoc extension"
@inheritDoc by itself works, but there's no ability to extend it. I was trying few options: camelcase inheritdoc, wrap it by {}, without {}, text after and before. nothing works.
is there plans for it or existing solution?

[2019-01-07 15:05] neild3r commented on #99
@achertovsky would you be able to clarify exactly what you want to do? From this I'm not sure what the issue is.

[2019-01-07 15:08] neild3r commented on #97
@oojacoboo there is a PR open #98 but one thing I found is that it needs to be a bit more clever about how it deals with gaps because it gets tricky for the template to understand where there should be gaps and if there should only be a gap if a certain tag exists so I haven't quite come up with a syntax for creating the template with this in mind.

[2019-01-07 15:09] achertovsky commented on #99
/**
 * explanation of code that was added after override
 * @inheritdoc
 */

Expected to see line that was added and after it phpdoc of parent

[2019-01-07 15:16] neild3r commented on #99
This would be up to whatever you are using to generate your PHP documentation or intellisense. This plugin only deals with the actual generating of the snippet.

[2019-01-07 15:17] achertovsky commented on #99
I see
Then, sorry for bothering you

[2019-01-12 13:31] neild3r commented on #87
@areirei @vyskoczilova See PR #98 this should provide the functionality you want once released

[2019-01-12 13:31] neild3r commented on #89
@franzarmas see #98 this PR will hopefully give you the flexibility you want plus more

[2019-01-12 13:33] neild3r commented on #90
@dominikzogg this should be possible with #98 as it allows control over the template and you could remove the message component entirely if you wished

[2019-03-04 18:48] johnbillion opened #102 "What can I do to debug this extension when it's not working?"
Thanks for this extension, it's one of those that you get so used to having that it's weird when it doesn't work.

I recently set up a new machine from scratch and this extension is no longer adding `@param` and `@return` tags when adding a docblock above an existing function or method.

What can I do to debug the problem? Cheers!

[2019-03-05 10:51] neild3r commented on #102
It's probably something simple like you aren't getting the snippet presented to you automatically. I'd first try summoning the snippets manually by typing /** then doing the trigger suggest shortcut. For me it's ctrl + space (OSX)

[2019-03-06 07:54] johnbillion commented on #102
You're right, triggering the snippet manually with ctrl+space immediately after the opening `/**` brings up the PHP DocBlocker snippet, and when I select that it correctly populates the tags as expected.

I'll dig around my Code settings and see what's preventing the snippet from triggering automatically.

[2019-03-13 16:06] Owchzzz opened #104 "@param optional highlight on function"
Would be really nice to see an optional parameter with the function being used.

something like this:

![Screen Shot 2019-03-14 at 12 04 41 AM](https://user-images.githubusercontent.com/7088147/54294782-cfa7f480-45ec-11e9-9f9d-5d55a84e658b.png)

wherein it would show it as @param string **optional** $type

I know that it already shows it when we initially call the function, but i think it would be

[2019-03-14 11:11] neild3r commented on #102
This relates to #44. We just need a bit of docs around settings and how it works. The most recent release has the ability to trigger via a command as well so a section on triggering it the docs would be useful.

[2019-03-14 16:51] johnbillion commented on #102
`suggestOnTriggerCharacters` was indeed the cause of my problem.

[2019-03-14 16:55] eightygrit opened #106 "Update @var snippet to match spec"
[Spec](http://docs.phpdoc.org/references/phpdoc/tags/var.html): `@var [“Type”] [$element_name] [<description>]`

Current Snippet: `@var ${1:mixed}`

Proposed Snippet (untested): `@var ${1:type} $${2:var_name} ${3:description}`

[2019-04-07 04:30] nmsmith22389 opened #107 "Support parameter defaults in @method & @param?"
If possible I would love to have support for parameter defaults (ie `function foo($bar = 'bam')`) in the `@method` and `@param` tags.
It seems like this does work when it's inferring from the method itself but you can't explicitly specify them. *(although doing it with no spaces does seem to sort of work)*

Thanks! 😀

[2019-04-18 16:35] aaly00 opened #108 "Running the contributed command: 'php-docblocker.trigger' failed."
After the latest VS Code update, I have been getting this error.
I change the php path from PHP5 to PHP7.3, but I am not sure if that's related since the extension doesn't require dependencies AFAIK.
![image](https://user-images.githubusercontent.com/11652379/56376534-bb4bae80-61cd-11e9-815d-8e5cd4f1415a.png)

VS Code version:
![image](https://user-images.githubusercontent.com/11652379/56376564-cd

[2019-04-20 23:33] neild3r commented on #108
This command only works if your cursor is on the line above a Function or Class where exactly are you triggering running the tigger command?

[2019-04-22 14:49] afroty commented on #108
This is a file I created somefile.php
![image](https://user-images.githubusercontent.com/11652379/56506353-cbbc9b80-64e3-11e9-90ea-c22e30e2940d.png)

I trigger the command where the cursor is shown. Throws the error.

[2019-04-23 09:37] neild3r commented on #108
Probably because the plugin was designed for class based functions which start with a visibility (private, public, protected) your function doesn't have a visibility so it's not triggering. It could be possible to make it so that it can handle functions outside of classes.

[2019-05-02 14:40] RodrigoMagenis opened #109 "php-docblocker.extra get pre-configured author and version"
The author and version variables have already been configured previously, and when calling these variables in the array php-docblocker.extra the values are not loaded automatically.

[2019-05-08 10:19] martinbean opened #110 "Add support for PHPUnit annotations"
Is it possible to recognise PHPUnit annotations as a DocBlocks (i.e. `@dataProvider`, `@testdox`, etc)?

If you didn’t want to add vendor-specific annotations to the core package, it might be worthwhile adding a configuration option to allow users to specify a list of items that should be treated as DocBlock annotations, and I could then add PHPDoc annotations to that list. Something like:

[code]

[2019-06-06 00:37] netmou opened #111 "An annoying thing width upcase #31"
Please see the issue https://github.com/atishay/vscode-allautocomplete/issues/31
is there some thing can do  to make vs better

[2019-06-06 02:39] #111 closed

[2019-06-27 09:07] XanatosX opened #112 "Mark deprecated methods functions in classes"
If a class in a library is marked as deprecated and I do use this function in another class or script it would be nice if the method is getting a strikethrough.

This would help a lot with detecting the use of deprecated methods, classes and traits.

Maybe there is a setting I did not notice for this already.

[2019-06-30 20:58] neild3r commented on #110
This has been added by @goodjack via #114

[2019-06-30 20:58] #110 closed

[2019-07-01 09:21] neild3r commented on #97
@oojacoboo this should now be configurable in v2.0.0

[2019-07-01 09:21] #97 closed

[2019-07-01 09:22] neild3r commented on #89
@franzarmas this is now available in v2.0.0

[2019-07-01 09:22] #89 closed

[2019-07-01 09:24] neild3r commented on #87
@areirei @vyskoczilova you should have more flexibility for this in v2.0.0

[2019-07-01 09:24] #87 closed

[2019-07-01 09:26] neild3r commented on #112
@XanatosX I don't believe this request is applicable to this package. This only writes the docblocks not handles display of them in other files this should be part of an intellisense package.

[2019-07-01 09:27] neild3r commented on #90
@dominikzogg this should now be possible as part of v2.0.0

[2019-07-01 09:27] #90 closed

[2019-07-01 11:52] dominikzogg commented on #90
@neild3r can you give me a simple sample?

[2019-07-01 12:03] neild3r commented on #90
@dominikzogg there should be an explanation in the [README.md](https://github.com/neild3r/vscode-php-docblocker)

[2019-07-01 12:05] dominikzogg commented on #90
@neild3r i don't get howto disable a part of the phpdoc

[2019-07-04 10:40] EneMarine opened #117 "Template order not working"
Hello,

I tried to set a functionTemplate but it doesn't seem to be working.
All I get is the default Template.

Here is my settings :
[code]

And Here is the outcome
[code]

[2019-07-04 11:18] neild3r commented on #117
@EneMarine thank you for raising this. You are correct I will look into this

[2019-07-04 11:53] neild3r commented on #117
@EneMarine I have a fix ready. I'll do a bit more testing tonight and hopefully release the patch tomorrow

[2019-07-05 14:53] #117 closed

[2019-07-08 07:06] neild3r commented on #117
Just to confirm the fix has now been released.

[2019-07-08 07:08] #102 closed

[2019-07-09 06:49] ycs77 opened #120 "Add @mixin tag"
I hope you can add @mixin tag so that class can mixin other class methods hints.

My use time is to call `SecondClass` in the `__call` method on `FirstClass`.

Use example:
[code]

Can this be achieved?

[2019-07-11 11:35] XanatosX commented on #112
I think you are totally right ... Sorry for the late answer

[2019-07-11 11:35] #112 closed

[2019-07-15 13:11] gotchapt commented on #108
I'm having the same problem on a function with visibility, since the last VSCode update. I'm on VSCode 1.36.0.
It still works for `class`

[2019-07-15 13:18] neild3r commented on #108
@gotchapt Can you please give an example of a function you are trying to trigger the docblock on that is not working? It is working for me

[2019-07-15 13:24] gotchapt commented on #108
Just found out the issue, I forgot how to php 😅
Was declaring a function like
[code]
instead of
[code]

[2019-07-15 20:46] kaizokupuffball opened #121 "@return void when actually return is array"
So.. Weird problem. When I use this extension in my Laravel project I get this weird problem where it says `@return void` even when my method is `public function method() { return [ ]; } `

Also when returning a redirect response, the return value is set to void for some reason.
Can it be fixed?

[2019-07-16 09:36] neild3r commented on #121
@kaizokupuffball the problem is that in order to deduce the return type for this we'd have to be parse the code in the entire function which we don't currently do. We only regex the signature to keep the package simple.

Really with php7 having return types you should be able to declare them in your method signature so it seems a bit extreme to do something as complex as parsing the whole function

[2019-07-16 10:06] kaizokupuffball commented on #121
I understand, thanks for replying. :)

[2019-07-16 10:06] #121 closed

[2019-07-29 14:18] d8vjork opened #122 "Support PSR-12"
When enable fully qualify class names on the extension settings the extension doesn't get the full PSR-12 namespaces (implemented on the PHP intelephense extension)

[2019-07-29 14:24] neild3r commented on #122
It should provided you have a use statement for the class you are type hinting. Have you got an example?

[2019-07-29 14:30] d8vjork commented on #122
Yes, here I send an example:

[code]

[2019-07-29 14:39] neild3r commented on #122
Thanks for providing an example.

It's because you are using the multiple use statement. Which isn't PSR-2 so I never do it and thus never implemented it. But it probably is possible to do this as well and the package should probably support it.

[2019-09-05 12:16] johanvanhelden opened #124 "[feature request] Lint for missing docblocks"
It would be great if there was an option in the plugin to scan for missing docblocks and add a linting issue if a docblock is missing.

[2019-09-05 12:19] johanvanhelden opened #125 "[feature request] Lint for docblock correctness"
It would be great if the plugin could check a docblock for correctness. For example:

[code]

Should result in 3 linting errors. Because:
- The `@return` FQN does not exist. It should be `\Illuminate\View\View`
- The `@param` is incorrect, because `$requests` should be `$request`
- The `@param` is incorrect, because `Request` should be `UpdateRequest`

[2019-09-11 01:40] dmyers commented on #44
I was going crazy trying to figure out how this extension just suddenly stopped working... then I discovered this issue. Thank you @m-thorsen. 👍

[2019-09-20 12:30] m-thorsen opened #127 "Double start delimiters (since Vscode 1.38?)"
When typing `/**<tab>` I've been getting this lately (with only this extension enabled):

![image](https://user-images.githubusercontent.com/14907694/65326655-459ba280-dbb2-11e9-9b6a-e3c912e110ff.png)

Note that a second set of delimiters is inserted, giving me `/**/**` and effectively closing the Docblock

[2019-09-20 12:55] m-thorsen commented on #127
The following adjustment **seems** to fix this problem....

src/doc.js from line 127:
[code]

[2019-09-20 13:02] neild3r commented on #127
Hi @m-thorsen thanks for reporting. I'm not seeing the same issue as you. Can you paste in your config or is this from the default set up? (I may disappear for a while as my wife could go in to labour any time now)

[2019-09-20 13:25] m-thorsen commented on #127
It was indeed related to a setting - the culprit seems to be `"editor.autoClosingBrackets": "never",`.

Something must have changed in VSCode regarding this as I didn't have this issue before the latest version.
Setting this to `"languageDefined"` seems to work for now.

Worth it adding a notice in the readme that this setting can cause issues?

[2019-10-09 21:57] nleco commented on #127
I also am experiencing this issue.

[2019-10-18 17:15] paul-a-byford commented on #120
Is there any plans for this?

[2019-10-23 10:21] eddy147 commented on #51
2017?

[2019-10-31 16:41] neild3r commented on #127
Interesting, apologies for not looking at this sooner. I've not long just become a father so thing have been a bit busy at home but I hope to soon get back to clearing up some of these niggles. Thanks for working out what the issue is, hopefully we can support both settings with a bit of work going forward

[2019-11-10 16:50] ctf0 commented on #1
@neild3r is there a way to auto fill the function name to the comment block ?

[2019-11-12 03:36] susonwaiba opened #128 "Support for @throws"
It seems like @throws is ignored. Should have been there while generating doc block and linting so that we could use try-catch.

[2019-11-19 15:20] ctf0 opened #133 "'/**+tab' doesnt work anymore"
am not sure why but for some reason using the `/**+tab` doesnt work anymore
[code]

[2019-11-24 16:41] tristramsmith opened #134 "php-docblocker.propertyTemplate syntax"
A question, not an issue (but can't see place to ask question, sorry) ...

With ...
`    "php-docblocker.propertyTemplate": {
        "summary": {
            "content": "Intro"
        },
        "var": {
            "message": "hello world"
        }
    },`
I get
`    /**
     * Intro
     * @var string
     */
    public $my_var = 'foo-bar';`

Am I correct in thinking the propertyTemplate conf

[2019-12-03 20:08] #133 closed

[2019-12-07 17:14] Gert-dev commented on #37
Perhaps this can be done in stages, i.e. start by just aligning the names of the parameters. (Useful) Parameter descriptions always need to be written by hand anyway, so it could be done in another stage.

Maybe another question would be: is there anyone that _doesn't_ want at least the @param names to be aligned? I personally would never not align them, but I could be wrong. Still, if most people

[2019-12-25 08:47] tianyiw2013 commented on #125
I suggest you use the `PHP intelephense` extension in vscode.

[2019-12-25 08:50] tianyiw2013 commented on #122
Hope to support as soon as possible.

[https://www.php-fig.org/psr/psr-12/](https://www.php-fig.org/psr/psr-12/)

**for example**:
Short form of type keywords MUST be used i.e. `bool` instead of `boolean`, `int` instead of `integer` etc.

Thank you very much. @neild3r

[2019-12-25 08:55] tianyiw2013 commented on #120
I think it's a good suggestion.

[2020-01-02 10:01] neild3r commented on #122
@tianyiw2013 there is already a config option for this

[2020-01-03 08:12] tianyiw2013 commented on #122
ok.

But, I suggest that default to `bool` instead of `boolean` etc.

[2020-01-08 06:32] johanvanhelden commented on #125
Alright, so out of scope for the docblocker extension :+1:

[2020-01-08 06:32] #125 closed

[2020-01-16 11:18] meetparikh112 opened #136 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `php-docblocker`
- Extension Version: `2.1.0`
- OS Version: `Linux x64 4.15.0-74-generic`
- VSCode version: `1.41.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/home/linuxuser1/neilbrayfield.php-docblocker-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-exten

[2020-01-23 13:36] fatoon29 opened #137 "Return void"
Hello,
When i use the docBlock, it always put Return void enven if i had a a return with a param.
How to fix that ?
thanks and btw, good job :D

[2020-01-28 16:03] neild3r commented on #137
Hi @fatoon29,

There's a config option called `returnVoid` which if you set to false it will turn it off

[2020-01-30 17:36] svivian commented on #137
But that option removes the `@return` entirely. I think their point is that it should put the actual type in there. It still shows void for a simple function like this:

	public function example()
	{
		return 'string';
	}

But it should put `@return string`.

[2020-01-30 21:17] neild3r commented on #137
@svivian as the package doesn't parse the entire function only the head it is not possible to do that. Really you should be type hinting your return which is catered for.

[code]

[2020-02-07 08:02] #136 closed

[2020-02-21 23:21] warkior opened #138 "Allow Autocompletion of Class names"
I'm new to vscode so forgive me if this is already solved, but I have found that the autocomplete of class names in doc blocks doesn't seem to recognize class names that aren't in the current file.

For example, if I type
$myVar = new MyClassNa{TAB}

the system will recognize the referenced class as MyClassName and even include the `use` statement in the namespaces to include it.

However, when I

[2020-03-05 09:59] alystair commented on #127
Congratulations @neild3r! Guess I'll use the work around for now but rather not have auto closing anything as it gets in the way.

[2020-03-16 07:14] besrabasant commented on #120
Aboslutely... When can we expect this feature to be added?

[2020-03-24 15:24] remiDupuy commented on #138
Hello,

Same thing for me !
I don't have any completin for the tag @var, @param... etc.

[2020-05-13 11:37] nikitades opened #139 "Make "Undocumented function" optional"
Please make if depend on flag in settings. Not everyone needs this each time the comment block is generated.

Btw, brilliant extension!

[2020-05-31 18:06] diosby opened #140 "Parameter is null"
I have function public function setMarginsFromArray(array $array = null)

The description was generated:
/**
     * Undocumented function
     *
     * **@param array $array**
     * @return void
     */

I expect the following description (php 7.0):
/**
     * Sets margins from the array.
     *
     * **@param  array|null $array**
     * @return void
     */
    public function setMarginsFromArr

[2020-06-03 08:37] izual36 opened #141 "Question: Example for default php-docblocker.author"
Hey, i'm relatively new to JSON. I don't know wich keys i have to define in the php-docblocker.author setting. I think it has at least two keys.

Would be awesome if somebody could give me an example for the complete JSON
php-dockblocker.author {} setting.

Thanks in advance.

[2020-06-21 23:31] dimaslanjaka opened #142 "Not working on My Vscode System version 1.46.1"
![image](https://user-images.githubusercontent.com/12471057/85237531-d826e600-b451-11ea-9fc7-b7a1921db4b1.png)

before vscode version, still working.

OS: windows 10

[2020-07-08 07:25] umairkhan-dev commented on #140
You have to tell that this param may be `null` or `array` like
See the `?` before `array` _(type)_ in `public function test(?array $array=null)`
[code]

[2020-07-08 08:06] umairkhan-dev opened #143 "DocBlock not generating for function having associative array as param with more than 1 value"
DocBlock not generating for function having associative array as param with more than 1 value.
Here is the code
[code]
The DocBlock is generated for first two functions but not for third.
![PHP DocBlock Issue](https://user-images.githubusercontent.com/16460954/86893646-602c1180-c11b-11ea-8d23-bcfc45453c59.gif)

**Plateform Details:** **PHP DocBlocker** Version: 2.1.0, **Visual Studio Code** Versio

[2020-07-15 09:59] Vilochane commented on #141
Hi, try this if it works for you, go to your vs code settings.json.
or go to, File->Preferences->Settings->UserTab(By Defafult it's already selected)->Extentions->PHP-docblocker->PHP-docblocker: Class Template

Eg:

[code]

[2020-07-28 14:15] Bwata commented on #68
any movement on this?

[2020-08-07 12:57] jitin-joseph opened #145 "Add @created_date tag to the comments"
![image](https://user-images.githubusercontent.com/62872551/89647592-68729a80-d8db-11ea-9765-b6317ed1cd7a.png)
this is an example of created date in sublime text
add a tag for @created_date in comments. It should return the current date and time if possible

[2020-08-15 02:55] televators commented on #17
@joseffb-mla Same! I know I'm dredging old issues but I am getting into documenting my stuff better and using phpDocumentor and they support the \@used-by tag as well as \@uses and generates links between all associated structures in the documentation it creates. Plus having both \@uses and \@used-by would provide some contextual data for other plugins to use in interpreting and jumping around.

[2020-09-17 10:19] umairkhan-dev commented on #143
@neild3r Is this project dead...?

[2020-09-18 09:11] neild3r commented on #143
@umairkhan-dev no I just haven't had any time to work on it as I've been extremely busy

[2020-10-11 08:09] anojoyman opened #147 "Detect class' magic methods and add them to message"
I really like this extension, but I think this small addition would be helpful.
It should detect class' magic methods like __construct, __destruct and so on and add them to the message like this :
{ClassName} (constructor/destructor)
This is how PHPStorm does it and I think it should be implemented in docblocker as well.
The extra mile would be to be customizable in settings :)
Thanks for this gre

[2020-10-21 08:43] StevenRoan commented on #120
also need this feature or do we have any workaround?

[2020-10-28 12:38] davidfrp opened #148 "No docblock hints when hovering"
I no longer get hints when I peek with the mouse. It merely tells me its general description, but nothing about return types or their descriptions.

![image](https://user-images.githubusercontent.com/6499570/97436508-66d8d180-1922-11eb-911f-36710c403349.png)

[2020-10-28 13:17] neild3r commented on #148
This package does not handle that. This is up to intellisense to handle. This package just helps with the writing of the block itself.

[2020-10-28 14:40] davidfrp commented on #148
Oh sorry. I've now installed some proper PHP intellisense, and it seems really eager to tell me twice now 😅

![image](https://user-images.githubusercontent.com/6499570/97451259-df945980-1933-11eb-9f17-21993de23823.png)

[2020-10-28 14:40] #148 closed

[2020-11-05 14:15] bachmann87 opened #149 "Question: How to contribute to this Repo?"
Hi all,

We're using this repo for our Pro-Team in Zurich. I would like to contribute to this repo.

Is there a certain assessment taken to be part of this project?

Any help, answer is highly appreciated.

Best regards
Allan

[2020-11-05 14:43] neild3r commented on #149
There are a full set of tests and code coverage so submit a PR and I will try to review

[2020-11-26 03:30] tianyiw2013 opened #150 "php8 Union types"
Suggest perfecting the php8 Union types of support, Heartfelt thanks.

see:
https://www.php.net/manual/en/language.types.declarations.php#language.types.declarations.union

[2020-11-26 07:19] chirag4396 commented on #54
Just wanted to help to other Incase if someone landed on this page while finding a solution for adding a date and time under DocBlock.

I was able to achieve that by below setting,

[code]

but the only problem with this solution is that the "@createdAt" color was not highlight same as other variables(as in actual it is not a variable and I can understand that ;) ), but the rest worked as expected

[2020-12-10 20:02] Bl4ckread opened #151 "Suddenly not getting an asterisk (*) on a new line within the block"
This extension used to work great for me, but as of today I'm suddenly not getting an asterisk (*) inserted automatically whenever I do a new line (press enter) within a docblock. I haven't done any changes in my environment, but maybe there has been an update either to this extension or something else that conflicts with this extension? Other than this issue the docblocks are still generated just

[2021-01-16 17:25] patrickvlt commented on #137
Are you planning to add this functionality in the future? This would be extremely helpful.

[2021-01-19 10:06] mrbenosborne opened #152 "Lint on doc block not matching actual method argument/return types"
It would be good to see an error if the doc comment parameter and return types do not match that of the actual method/function.

[2021-03-10 15:49] bradycharron opened #153 "Trailing comma in params causes failure"
With PHP 7.3 we can now add trailing commas to multiline function definitions.  However, doing so causes the following error:

Here is an example function that causes the error.
[code]

[2021-03-14 04:20] sphereweb83 opened #154 "Team Author and email"
Hello,

We are using this plugin within a team. We have added a function template in the workspace settings but i cannot figure out how to add automatically the user and email of the team member:

` "author": {
        "content": "@author ${###:Team Member Name} <${###:email}>"
      },`

Is there a way to automatically add the team member name and address?

[2021-04-15 22:13] runthis opened #156 "Constructor promotion"
In php 8, it is possible to use property promotion in a construct:

https://www.php.net/manual/en/language.oop5.decon.php#language.oop5.decon.constructor.promotion

Before:

[code]

php8:

[code]

PHP DocBlocker does not currently recognize a construct with a parameter like "protected string $something" and does not attempt to generate the comment block.

Thank you for your convenient extension an

[2021-04-23 16:58] Fenweldryn commented on #139
Well, I'm looking for disabling it as well. Is there a way to get rid of it? Oficially or not

[2021-04-23 16:59] Fenweldryn commented on #90
Has anyone found a way to remove it?

[2021-04-23 17:07] Fenweldryn commented on #90
Guys, I just found out how to do it. If anyone still need it just add this setting:

[code]

the commented message param is the culprit, just keep it out and you will be good to go!

[2021-05-13 17:59] dvsoukup commented on #120
Seems like slightly old thread but... I saw this PR:
#135

Looks like it just has a failing test.  I too would like these doc tags added.

[2021-05-18 08:51] tianyiw2013 commented on #156
I fixed it, [here](https://github.com/neild3r/vscode-php-docblocker/pull/162#issuecomment-842976125)

[2021-06-06 17:29] shivapoudel opened #164 "Add support for @param description"
We do support Code sniffer and @param description is needed. Simply apply some tab rules to provide parameter descriptions.

[2021-06-06 18:15] shivapoudel opened #165 "Support @since tag @param short description"
Please do support @since tag just before @param tag and allow @param tag with short description.

[2021-07-26 05:01] umairkhan-dev commented on #143
As the author of this extension is not active for some time. Also, I have switched to [PHP DocBlocker2](https://github.com/tianyiw2013/vscode-php-docblocker).
I am closing this.

[2021-07-26 05:01] #143 closed

[2021-07-26 14:20] mehedi101 commented on #141
add this code on setting.json file
`"php-docblocker.author": {
        "name": "Mehedi Hasan",
        "email": "hello@mehedihasn.com"
    }`

[2021-08-10 08:54] neild3r commented on #151
This was removed from this plugin as it started built into vscode as standard

[2021-08-10 08:54] #151 closed

[2021-08-11 16:49] #108 closed

[2021-08-18 14:27] shivapoudel opened #176 "[Feature] Make this extension available for VSCode web or Codespace"
I'm often using VSCode web on GitHub and would love to have the same feature available.

Ref: PKief/vscode-material-product-icons#20 (comment) and microsoft/vscode#130628

CC @neild3r @tianyiw2013

[2021-08-18 15:05] tianyiw2013 opened #177 "Default `mixed` as unknown type, replace `[type]`"
PHP uses mixed instead of any type, I think we should completely change `[type]` to `mixed`.

What's your opinion?

[2021-08-18 15:09] tianyiw2013 opened #178 "Set the default value of useShortNames to `true`"
Now PHP's built-in integer and boolean are `int` and `bool`.
I think we should use the same type as PHP.

What's your opinion?

[2021-08-18 16:11] tianyiw2013 commented on #176
I can't experience codespace, Can you temporarily join me in your organization? I want to have a test.

[2021-08-18 16:56] neild3r commented on #177
I think we want this to be configurable as I can see why people would want it.

However, I think just defaulting to mixed in some cases may encourage people to be lazy. With more type hinting being possible in more modern PHP we shouldn't really be relying on mixed anyway.

[2021-08-18 16:58] neild3r commented on #176
I've got it to the point where it's installable but producing an error will see if it can be solved looking at vscode-test-web

[2021-08-18 17:18] neild3r commented on #176
Looks like the problem is we are loading the fs module in one of the helpers which is supposed to aid in unit testing. We just need to move that code to the tests directory

[2021-08-18 18:07] neild3r commented on #176
The new release v2.2.3 should now work in github 🎉

[2021-08-18 18:08] #176 closed

[2021-08-18 18:09] neild3r commented on #178
Agreed, I use short names myself I only haven't changed the default as I didn't want to release a breaking change. I suppose we could do it as part of a move to v3

[2021-08-20 09:53] raul-bns opened #182 "Custom message ?"
There is the possibility to create custom message for function template ?
`"php-docblocker.functionTemplate": {
        "message": {
            "content": "Bluenote-sytems - "
        },
        "return": {}
    }`

[2021-08-31 13:02] neild3r commented on #150
Added in v2.3.0

[2021-08-31 13:02] #150 closed

[2021-08-31 13:22] neild3r commented on #139
You can modify the templates to remove it. There is nicer way coming soon similar to @tianyiw2013 implementation

[2021-08-31 13:26] neild3r commented on #140
This is supported as of v2.3.0

[2021-08-31 13:26] #140 closed

[2021-09-01 20:03] neild3r commented on #137
Unfortunately not I think doing that would be a different package that is based on something a lot more sophisticated than regex's

[2021-09-01 20:04] #137 closed

[2021-09-01 20:05] #17 closed

[2021-09-01 20:13] neild3r commented on #128
Duplicate of #51

[2021-09-01 20:13] #128 closed

[2021-09-01 20:14] #153 closed

[2021-09-01 20:34] neild3r commented on #107
I believe this is supported already so closing for now

[2021-09-01 20:34] #107 closed

[2021-09-05 19:38] neild3r commented on #141
Closing as this question was answered

[2021-09-05 19:38] #141 closed

[2021-09-07 21:28] #120 closed

[2021-09-07 21:28] neild3r commented on #120
This was implemented

[2021-09-17 08:28] PapsOu opened #195 "Extension error"
Hello, under VSCode 1.60.1 , the extension does not work anymore.

Please find the output stack trace :
[code]

Detailed informations :

[code]

[code]

[2021-09-17 08:37] PapsOu commented on #195
The error happens only when the method to document has an error :

[code]

[code]

So the extension is working well in standard cases.

May be it is possible to display a tooltip indicating that the method need to be fixed before generating the docblock ?

[2021-09-17 08:47] PapsOu commented on #139
Example configuration to remove message part :
[code]
Just remove the key `"message"` from the function template.

[2021-09-17 11:16] neild3r commented on #195
Trailing comma should be supported now so not sure why this isn't working

[2021-09-20 09:16] #195 closed

[2021-09-20 15:06] #165 closed

[2021-09-20 23:36] shivapoudel commented on #164
Duplicate #165

[2021-09-20 23:36] #164 closed

[2021-09-22 15:30] Vaggal opened #200 "Changelog dates are wrong"
The releases ranging from 2.2.0 - 2.3.0, have wrong month in the release date.

Are they supposed to be fixed by the updateChangelog script or manually?

[2021-09-23 14:46] neild3r commented on #200
You're correct they are wrong it's not the release script that's the problem it's human error, the ones done by the release process are all correct.

[2021-09-23 14:52] #200 closed

[2021-09-27 08:45] neild3r commented on #37
Released as of v2.6.0

[2021-09-27 08:45] #37 closed

[2021-09-27 09:46] neild3r commented on #142
Closing this for now as I have not received more widespread feedback for issues. Very sorry this has gone unanswered for so long but please re-open if you want to continue to help debug the problem

[2021-09-27 09:46] #142 closed

[2021-10-03 02:56] endingman opened #206 "How can I set @return mixed default?"
How can I set @return mixed default?

[2021-10-04 13:46] AnrDaemon opened #207 "Unable to describe function with typed return value"
Issue Type: <b>Bug</b>

[code]

[code]

Extension version: 2.6.0
VS Code version: Code 1.60.2 (7f6ab5485bbc008386c4386d08766667e155244e, 2021-09-22T12:00:31.514Z)
OS version: Windows_NT x64 6.1.7601
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3550 CPU @ 3.30GHz (4 x 3292)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enable

[2021-10-08 08:39] momala454 opened #208 "Doesn't work anymore ?"
Nothing is autofilled and the extension is installed on ssh

![image](https://user-images.githubusercontent.com/83005/136525502-5439d48e-9940-49d9-8341-5797d3a5efac.png)

![image](https://user-images.githubusercontent.com/83005/136525532-b7f0b0cb-f075-4489-a6b9-15161b77d31a.png)

![image](https://user-images.githubusercontent.com/83005/136525561-6039bd78-14bd-4b70-96d9-49af0678684c.png)

[2021-10-08 09:25] neild3r commented on #207
Looks like this is because your writing a function outside of a class and it's trying to find the class header to resolve any namespaces

[2021-10-08 09:29] neild3r commented on #206
This is already requested feature but isn't available right now as it encourages lazy programming but it will be an option in future versions.

Of course if you specify types using the PHP syntax they would be picked up.

[2021-10-08 09:33] endingman commented on #206
ok、

[2021-10-08 10:07] neild3r commented on #208
Replicated, this is the stack trace. Seems to be related to the fetching of the class head which is designed to help with reading class use statements

[code]

[2021-10-08 10:08] neild3r commented on #207
Similar to #208

[2021-10-10 17:00] AnrDaemon commented on #207
Backtrace seems very similar, yes.

[2021-10-12 07:52] #208 closed, assigned to nobody

[2021-10-12 08:00] neild3r commented on #207
This should be fixed as of v2.6.1

[2021-10-12 08:01] neild3r commented on #127
Fixed as of v2.6.1

[2021-10-12 08:20] AnrDaemon commented on #207
Can't you detect outer block start when in editor? Then you won't need to back scan N lines.

[2021-10-23 03:02] jiangjiping opened #213 "@return can not code auto complete"
class MyClass{}

/**
 * @return [here can not auto complete "MyClass"]
*/
function getObj() {
  return new MyClass
}

//for me in doc comment auto complete is very important, please help to fixed it, thanks very much!

[2021-10-25 12:01] neild3r opened #214 "Class namespace detection can be incorrect with _"
There is an issue where the namespace detection can get tripped up.

See the code sample below. The type hint generated is incorrect it should be `\App\Example\ExampleInterface`

[code]

[2022-01-04 16:11] tianyiw2013 opened #217 "Auto indent is consistent with function indent"
## Current behavior
[code]

## Expected behavior
[code]

[2022-01-14 06:48] tanc commented on #151
Sorry to comment on a closed issue but where is this setting in vscode? It's the one thing that drives me crazy, that a newline within a dockblock breaks the dockblock instead of adding a ` *`

[2022-01-14 07:20] tanc opened #218 "Continuation of DocBlock when pressing enter when in a DocBlock"
One of the stated features of this extension is "Continuation of DocBlock when pressing enter when in a DocBlock"

This doesn't work for me and I'm not sure why. Whenever I hit enter/return within a DocBlock it enters a newline character instead of ` *` which breaks the DocBlock.

In #151 it was stated "This was removed from this plugin as it started built into vscode as standard" but when disabli

[2022-01-14 09:33] neild3r commented on #218
You can see the PR to remove it here #62

[2022-01-14 09:58] tanc commented on #218
Thank you so much for the information. I've now tracked down my issue to a vscode setting:
`"editor.autoIndent": "brackets",`

Changing this to 'advanced' or 'full' seems to have fixed it:
`"editor.autoIndent": "advanced",`

[2022-01-14 09:58] #218 closed

[2022-02-11 00:56] #177 closed

[2022-04-01 10:31] youpilai opened #222 "DocBlock empty when {id} in Route"
First, apologize if it's a silly question, i'm new to VSCode

When providing Route with {id}, the generated block is empty :
`/**
     *
     */
    #[Route('/pages/show/{id}', name: 'page.show', methods: ['GET'])]
    public function show(PageRepository $repository, int $id): Response
    {
        return $this->render('pages/admin/page.index.html.twig', [
            'controller_name' => 'TestCo

[2022-05-17 12:21] neild3r commented on #222
The plugin wasn't really designed to support the annotation you are using it expects that the function you are attempting to docblock is on the line below not two lines below which is why you are seeing unexpected behaviour.

Most frameworks have a way of doing route annotation inside a docblock perhaps there is an alternative way to declare it.

[2022-05-17 12:23] #214 closed

[2022-05-17 12:23] #213 closed

[2022-05-17 12:58] davidbernard04 opened #223 "TypeError exception when comments are present in function params"
I have the habit of indicating if a function parameter is a "return" parameter by adding the /\*OUT\*/ comment before the parameter:

[code]

But the presence of the /\* \*/ comment prevents PHP DocBlocker to work, and triggers the following exception:
[code]

[2022-05-20 15:49] davidbernard04 commented on #223
I think it is related to the following regex: https://github.com/neild3r/vscode-php-docblocker/blob/master/src/block/function.ts#L43

[2022-06-16 02:58] #217 closed

[2022-07-17 19:20] ZachWatkins opened #225 "Unable to provide custom environment variables for settings values"
Hi, I really enjoy this extension and I want to automatically include my project's current package name in the "@package" tag and version number in the "@since" tag for class and function DocBlocks. I'm wondering if there's even a way to do this, I just want to define "@since" at runtime using the results of `$ git describe --tags` or `process.env.version` or a version number from the workspace's

[2022-07-19 02:56] ZachWatkins commented on #225
I've created a pull request: https://github.com/neild3r/vscode-php-docblocker/pull/226

After forking the extension and doing some digging it seems no environment variables are available to extension configuration settings by default and developers must provide this feature independently. The scoped variables like env, config, command, etc seem to only be available to launch.json and tasks.json co

[2022-07-28 10:00] nacesprin opened #227 "Continue comment on new line"
This feature would be great:
`auto-comment-blocks.singleLineBlockOnEnter` on https://github.com/kevb34ns/auto-comment-blocks#settings

[2022-09-30 08:20] owzim opened #228 "Support for closures/anonymous/inline functions"
Currently DocBlocker is not working with this:

[code]

it just generates an empty comment:

[code]